<div (click)="onClick()" onclick="" class="card shadow" style="cursor: pointer">
  <div class="card-img-top" style="position: relative; height: 210px">
    <h2
      class="card-title h2"
      style="
        position: absolute;
        color: white;
        left: 10px;
        bottom: 3px;
        z-index: 10;
      "
    >
      {{ event.title }}
    </h2>
    <img
      [src]="event.organizer.avatar"
      style="
        height: 50px;
        width: 50px;
        top: 5px;
        left: 5px;
        position: absolute;
        border-radius: 50%;
        border: 2px solid white;
        padding: 0;
        z-index: 10;
      "
      priority
    />
    <div
      style="
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.8)
        );
        position: absolute;
      "
      class="gradient-filter"
    ></div>
    <div
      *ngIf="event.location"
      style="
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border-radius: 12px;
        font-size: 12px;
        position: absolute;
        top: 10px;
        right: 10px;
      "
    >
      {{ event.location.name }}
    </div>
    <img
      style="height: 100%; width: 100%"
      [src]="event.image"
      alt="Card Event"
      fill
      priority
    />
  </div>
  <div class="card-body">
    <p class="card-text">
      {{ event.description | truncateName : 80 : "..." }}
    </p>
  </div>
</div>
