<div
  (click)="onClick()"
  class="card shadow"
  style="cursor: pointer; height: 330px"
  [style.opacity]="isEnded() ? 0.5 : 1"
>
  <div class="card-img-top" style="position: relative; height: 230px">
    <h2
      class="card-title h2"
      style="
        position: absolute;
        color: white;
        left: 10px;
        bottom: 3px;
        z-index: 10;
      "
    >
      {{ event().title }}
    </h2>
    <img
      [src]="event().organizer.avatar"
      style="
        height: 50px;
        width: 50px;
        top: 10px;
        left: 10px;
        position: absolute;
        border-radius: 50%;
        border: 2px solid white;
        padding: 0;
        z-index: 10;
      "
      priority
    />
    <div
      style="
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.8)
        );
        position: absolute;
      "
      class="gradient-filter"
    ></div>

    <div
      *ngIf="isParticipating()"
      style="
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #32a852;
        color: #fff;
        padding: 5px 10px;
        border-radius: 12px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      Participated
    </div>
    <img
      style="height: 100%; width: 100%"
      [src]="event().image"
      alt="Card Event"
      fill
      priority
    />
  </div>
  <div class="card-body d-flex flex-column justify-content-between">
    <div class="mb-2" style="display: flex; align-items: center">
      <i
        style="font-size: 20px; margin-right: 10px"
        class="bi bi-calendar2"
      ></i>
      <div class="fw-bolder">
        {{ event().startTime | date : "MMM d, h:mm a" }}
      </div>
      <i style="font-size: 20px" class="bi bi-dash"></i>
      <div class="fw-bolder">
        {{ event().endTime | date : "MMM d, h:mm a" }}
      </div>
    </div>
    <mat-chip-set class="mb-2" aria-label="Selection">
      <mat-chip>{{ event().typeEvent.name }}</mat-chip>
      <mat-chip>{{ event().typeLocationName }}</mat-chip>
      <mat-chip *ngIf="event().location">{{ event().location?.name }}</mat-chip>
    </mat-chip-set>
  </div>
</div>
