<nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
  <div class="container align-items-center">
    <a class="navbar-brand me-5" href="#">Event Management</a>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#nav"
      aria-controls="nav"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse {{
        !user ? 'justify-content-end' : 'justify-content-between'
      }}"
      id="nav"
    >
      <ul *ngIf="user" class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/my-events']"
            routerLinkActive="active"
          >
            <div class="d-block d-md-none" i18n="@@myEvents">My Events</div>
            <div
              class="my-custom-badge-primary d-none d-md-block"
              matBadgeColor="primary"
              [matBadge]="upcomingEventsCount"
              matBadgeOverlap="false"
              matBadgePosition="before"
            >
              <div
                class="my-custom-badge-accent d-none d-md-block"
                matBadgeColor="accent"
                matBadgePosition="before"
                matBadgeOverlap="false"
                [matBadge]="eventsToFeedbackCount"
                style="margin-left: 20px"
                i18n="@@myEvents"
              >
                My Events
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/all-events']"
            routerLinkActive="active"
            i18n="@@allEvents"
            >All Events</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <!-- align-items-center align-self-lg-end -->
        <li *ngIf="!user" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="active"
            i18n="@@login"
            >Login</a
          >
        </li>
        <li *ngIf="!user" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/register']"
            routerLinkActive="active"
            i18n="@@register"
            >Register</a
          >
        </li>
        <img
          class="align-self-md-end"
          *ngIf="user"
          onclick=""
          [routerLink]="['/my-profile']"
          [src]="
            user.avatar ||
            'https://lmapqwxheetscsdyjvsi.supabase.co/storage/v1/object/public/Images/Default_avatar_profile.jpg'
          "
          alt="Avatar"
          style="
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 2px solid white;
            padding: 0;
            margin-left: 5px;
            cursor: pointer;
          "
        />
      </ul>
    </div>
  </div>
</nav>
