<mat-dialog-content class="mat-typography mh-100 p-0 container">
  @if (data.isError) {
  <div
    class="d-flex justify-content-center align-items-center min-vh-100 w-100 bg-light"
  >
    There is an error!
  </div>
  } @else {
  <div class="position-relative">
    <div class="img-fluid">
      <img
        [src]="data.event.image"
        handleImgError
        style="padding-bottom: -50px"
        class="img-fluid bg-gradient"
        alt="Event image"
      />
    </div>

    <div
      style="
        top: 90%;
        padding-top: 10%;
        border-top-right-radius: 10%;
        border-top-left-radius: 10%;
      "
      class="container h-100 position-absolute bg-white p-4"
    >
      <h1 class="display-4 fw-bolder text-black mb-3">
        {{ data.event.title }}
      </h1>

      <div class="lead mb-3">
        {{ data.event.description }}
      </div>

      <div class="mb-3" style="display: flex; align-items: center">
        <img
          [src]="data.event.organizer.avatar"
          alt="Organisator vatar"
          class="rounded-circle"
          style="
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 15px;
          "
        />
        <div style="display: flex; flex-direction: column">
          <div class="text-secondary">Event organized by</div>
          <div class="fw-bolder">
            {{ data.event.organizer.name }}
          </div>
        </div>
      </div>

      <div class="mb-3" style="display: flex; align-items: center">
        <i
          style="font-size: 20px; margin-right: 10px"
          class="bi bi-calendar2"
        ></i>
        <div class="text-info">
          {{ data.event.start | date : "MMM d, y h:mm a" }}
        </div>
        <i style="font-size: 20px" class="bi bi-dash"></i>
        <div class="text-info">
          {{ data.event.end | date : "MMM d, y h:mm a" }}
        </div>
      </div>
      <div
        *ngIf="data.event.location"
        class="mb-3"
        style="display: flex; align-items: center"
      >
        <i
          style="font-size: 20px; margin-right: 10px"
          class="bi bi-geo-alt"
        ></i>
        <div class="fw-bolder">
          {{ data.event.location.name }}
        </div>
      </div>

      <mat-chip-set aria-label="Selection">
        <mat-chip>{{ data.event.type }}</mat-chip>
        <mat-chip>{{ data.event.typeLocation }}</mat-chip>
      </mat-chip-set>

      <h2 class="display-6">Participants</h2>
      <div style="display: flex">
        @for (participant of data.event.participations; track participant.id) {
        <img
          [src]="participant.avatar"
          alt="participantvatar"
          class="rounded-circle"
          style="
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 15px;
          "
        />
        }
      </div>

      <h2 *ngIf="data.event.reviews" class="display-6">Reviews</h2>
      <div *ngIf="data.event.reviews" class="list-group">
        @for (review of data.event.reviews; track review.id) {
        <div class="list-group-item list-group-item-action d-flex">
          <img
            [src]="review.person.avatar"
            style="
              height: 50px;
              width: 50px;
              border-radius: 50%;
              margin-right: 15px;
            "
          />
          <div
            href="#"
            class="list-group-item list-group-item-action flex-column align-items-start active"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ review.person.name }}</h5>
              <small>{{ review.date | date : "medium" }}</small>
            </div>
            <p class="mb-1">
              {{ review.comment }}
            </p>
            <star-rating
              [starType]="'svg'"
              [rating]="review.rating"
            ></star-rating>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  }
</mat-dialog-content>
