<div class="mt-3">
  <form [formGroup]="form" class="needs-validation" autocomplete="off">
    <label>Image :</label>
    <div class="file-drop-area border-primary mt-3">
      <span class="btn btn-primary me-2">Choose file</span>
      <span class="file-msg">{{
        file()?.name || "or drag and drop file here"
      }}</span>
      <input
        id="file-input"
        formControlName="image"
        type="file"
        accept=".jpg,.jpeg,.png"
        [class.is-invalid]="image.errors"
      />
    </div>
    <div *ngIf="image?.errors" class="invalid-feedback text-danger">
      <div *ngIf="image?.errors?.['requiredFileType']">
        Only .jpg, .jpeg, .png files are allowed
      </div>
    </div>
  </form>
</div>
