<div class="container">
  <div class="row mx-2 my-4 justify-content-between">
    <div class="col-lg-4 col-12 col-sm-6">
      <app-select-event-types [(selectedEventTypes)]="selectedEventTypes" />
    </div>
    <div class="col-lg-4 col-12 col-sm-6">
      <app-select-date-range [(selectedDateRange)]="selectedDateRange" />
    </div>
    <div class="col-lg-4 col-12 col-sm-6">
      <app-select-cities [(selectedCities)]="selectedCities" />
    </div>
  </div>
  <div class="row mx-2 d-flex flex-row justify-content-between">
    <mat-form-field class="col-lg-2 col-sm-4 col-4">
      <mat-label>Order by</mat-label>
      <mat-select [formControl]="orderByCriteria" multiple>
        <mat-option value="Note">Note</mat-option>
      </mat-select>
    </mat-form-field>

    <div
      class="col-lg-4 col-sm-8 col-8 d-flex align-items-baseline justify-content-lg-start justify-content-end"
    >
      <app-select-location-types
        [(selectedLocationTypes)]="selectedLocationTypes"
      />
    </div>

    <div
      style="display: flex; flex-direction: column; align-items: end"
      class="col-lg-6 col-12"
    >
      <button
        (click)="onFilter()"
        style="width: 40px; height: 40px; border-radius: 50%; border-width: 0"
      >
        <i class="bi bi-search"></i>
      </button>
      <div class="small fst-italic">
        *If no filters are selected, all elements will be included in the
        filtering process.
      </div>
    </div>
  </div>
</div>
<div class="container">
  @if (events.length === 0) {
  <div class="d-flex justify-content-center align-items-center mt-5 w-100">
    <h1>No events found</h1>
  </div>
  } @else {
  <div class="row g-4">
    @for (event of events; track event.idEvent) {
    <div class="col-12 col-sm-6 col-lg-4">
      <app-card-event [event]="event" />
    </div>
    }
  </div>
  }
</div>
