<form class="w-100 h-100" [formGroup]="citiesForm">
  <mat-form-field class="w-100">
    <mat-label>Cities</mat-label>
    <input
      type="text"
      matInput
      formControlName="cityGroup"
      [matAutocomplete]="autoGroup"
      placeholder="Cities"
      [value]="placeholder()"
    />
    <mat-autocomplete #autoGroup="matAutocomplete">
      @for (group of filteredData | async; track group) {
        <mat-optgroup [label]="group.letter">
          @for (city of group.cities; track city) {
            <mat-option>
              <div (click)="optionClicked($event, city)">
                <mat-checkbox
                  [checked]="isOptionChecked(city)"
                  (change)="toggleSelection(city)"
                  (click)="$event.stopPropagation()"
                >
                  <!-- .includes(city) -->
                  {{ city }}
                </mat-checkbox>
              </div></mat-option
            >
          }
        </mat-optgroup>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
