<mat-dialog-content class="mat-typography mh-100 p-0 container">
  <div class="container h-100">
    <form
      [formGroup]="form"
      class="needs-validation d-flex flex-column justify-content-between h-100"
      autocomplete="off"
    >
      <div>
        <div class="mt-3">
          <label>Title* : </label>
          <input
            required
            #titleFormControl
            (focus)="onFocus(titleFormControl)"
            type="text"
            class="form-control"
            formControlName="title"
            [class.is-invalid]="title.invalid && title.touched"
            [class.is-valid]="title.valid && title.touched"
          />
        </div>
        <div class="mt-3">
          <label>Description* :</label>
          <textarea
            required
            #descriptionFormControl
            (focus)="onFocus(descriptionFormControl)"
            type="text"
            style="height: 150px"
            class="form-control"
            formControlName="description"
            [class.is-invalid]="description.invalid && description.touched"
            [class.is-valid]="description.valid && description.touched"
          ></textarea>
          <div
            *ngIf="description?.invalid && description.touched"
            class="invalid-feedback text-danger"
          >
            <div *ngIf="description?.errors?.['maxlength']">
              Maximum length is 2500 characters
            </div>
          </div>
        </div>
        <div *ngIf="!this.data">
          <app-file-upload [(file)]="selectedImage" />
        </div>

        <div class="mt-3 row d-flex justify-content-around align-items-center">
          <div class="col-6">
            <app-select-date label="Start date" [dateForm]="startDayForm" />
          </div>
          <div class="col-6">
            <app-select-date label="End date" [dateForm]="endDayForm" />
          </div>
        </div>

        <div class="row d-flex justify-content-around align-items-center">
          <div class="col-6">
            <app-select-time label="Start time" [timeForm]="startTimeForm" />
          </div>
          <div class="col-6">
            <app-select-time label="End time" [timeForm]="endTimeForm" />
          </div>
        </div>

        <div class="row d-flex justify-content-around align-items-center">
          <div class="col-6">
            <form class="w-100" [formGroup]="cityForm">
              <mat-form-field class="w-100">
                <mat-label>City</mat-label>
                <input
                  [required]="locationTypeControl.value !== 'Remote'"
                  type="text"
                  matInput
                  formControlName="cityGroup"
                  [matAutocomplete]="autoGroup"
                />
                <mat-autocomplete #autoGroup="matAutocomplete">
                  @for (group of citiesGroupOptions | async; track group) {
                  <mat-optgroup [label]="group.letter">
                    @for (name of group.names; track name) {
                    <mat-option [value]="name">{{ name }}</mat-option>
                    }
                  </mat-optgroup>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </div>
          <div class="col-6">
            <mat-form-field class="w-100">
              <mat-label>Event type</mat-label>
              <mat-select required [(value)]="selectedEventType">
                @for (typeEvent of typeEventList; track typeEvent) {
                <mat-option [value]="typeEvent">{{ typeEvent }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <mat-button-toggle-group
              required
              [formControl]="locationTypeControl"
              aria-label="Font Style"
              (change)="checkLocationType($event)"
            >
              @for (locationType of locationTypes; track locationType) {
              <mat-button-toggle [value]="locationType">{{
                locationType
              }}</mat-button-toggle>
              }
            </mat-button-toggle-group>
          </div>
          <div class="col-6">
            <div>
              <div *ngIf="isDaysError()" class="text-danger mb-3">
                Day invalid (Start day must be before end day)
              </div>
            </div>
            <div *ngIf="isTimeError()" class="text-danger mb-2">
              Time invalid (With start day the same as end day, start time must
              be before end time)
            </div>
            <div>
              <div *ngIf="errorImage() !== ''" class="text-danger mb-3">
                {{ errorImage() }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="display: flex; justify-content: flex-end" class="me-2">
        <button
          type="submit"
          class="btn btn-outline-danger me-2"
          (click)="onCancel()"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
      <div style="min-height: 15px"></div>
    </form>
  </div>
</mat-dialog-content>
